* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

body {
    color: hsl(0, 0%, 40%);
    background: hsl(166, 20%, 98%);
}

header,
section {
    text-align: left;
    width: 100%;
    padding: 30px;
}

header {
    position: relative;
    z-index: 1;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(to top right, hsl(192, 10%, 94%), hsl(166, 20%, 98%));
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta a {
    display: inline-block;
    background: hsl(27, 96%, 69%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
}

.cta a:hover {
    background: hsl(27, 96%, 59%);
    transition: all 0.2s ease-in-out;
}

.what-we-do {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 1024px;
}

.title {
    width: 100%;
    text-align: left;
}

.step {
    flex: 1;
    text-align: left;
    width: 100%;
    padding: 30px;
    background-color: hsl(192, 10%, 94%);
    border-radius: 5px;
}

.step h2 {
    max-width: 768px;
    margin: 0 auto;
}

.icon-circle {
    width: 30px;
    height: 30px;
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.icon-circle i {
    font-size: 1rem;
}

.projects-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.projects-container h3 {
    max-width: 768px;
    margin: 0 auto 30px 0;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    background-color: hsl(192, 10%, 94%);
    border-radius: 5px;
}

.project {
    position: relative;
    overflow: hidden;
    width: 50%;
    max-width: 512px;
    margin: 0 auto;
    text-align: center;

}

.project img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px hsla(0, 0%, 0%, 0.1));
}

.project .caption {
    padding-top: 10px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    gap: 30px;
    max-width: 1024px;
    margin: 0 auto;
}

.person {
    flex: 1 1 300px;
    background-color: hsl(192, 10%, 94%);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.person img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-top: 5px;
}

.person-info {
    flex: 1;
}

.contact {
    text-align: center;
    padding: 40px 20px 100px 20px;
    background: linear-gradient(to bottom right, hsl(192, 10%, 94%), hsl(166, 20%, 98%));
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.contact-links a {
    color: #0077cc;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: -1px;
}

h3 {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

h4 {
    font-weight: 500;
}

@media (max-width: 768px) {
    header {
        text-align: left;
    }

    .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
}